In [2]:
count = 0

while count < 5:
    print("pune")
    count += 1

pune
pune
pune
pune
pune

In [8]:
# print the numbers from 5 to 15

count = 5

while count < 16:
    print(count, end = ' ')
    count += 1

5 6 7 8 9 10 11 12 13 14 15

In [10]:
count

16

In [12]:
# find the addition of 1 to 10 numbers

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1

print("addition is ", add)

addition is  55

In [14]:
# find addition of all odd numbers from 1 to 20

count = 1
add = 0

while count <= 20:
    add = add + count
    count += 2

print(add)

100

In [16]:
"""
while True:
    print("ok")

""";

In [18]:
num = 1

fact = 1

while num <= 5:
    fact = fact * num
    num += 1

print(fact)

120

In [20]:
# find the addition of the digits in the number
# 12345 => 1 + 2 + 3 + 4 + 5 = 15

In [22]:
12345 % 10

5

In [24]:
12345 // 10

1234

In [26]:
num = int(input("Enter the number"))

add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10

print(f"addition of digits is {add}")

Enter the number 12345

addition of digits is 15

#### for loop

In [29]:
for n in 12, 34, 56, 30:
    print(n)

12
34
56
30

In [33]:
# iterate over a sequence and print half of those values

for n in 12, 34, 56, 30:
    print(n/2, end = ' ')

6.0 17.0 28.0 15.0

In [35]:
# range

In [39]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
list(range(1, 12, 2))
# start, end(exclusive), step

[1, 3, 5, 7, 9, 11]

In [47]:
for n in range(1, 11):
    print(n, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [49]:
# find the addition of 1 to 10 numbers using for loop

add = 0
for n in range(1, 11):
    add = add + n

print(add)

55

In [51]:
for i in "pune":
    print(i)

p
u
n
e

In [53]:
for i in "pune", "mumbai":
    print(i)

pune
mumbai

In [55]:
# factorial using for loop

#### Loop Control Statements

In [58]:
# break

In [62]:
for i in range(1, 11):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [64]:
count = 1

while count < 11:
    print(count)
    if count == 6:
        break
    count += 1

1
2
3
4
5
6

In [66]:
# continue

In [70]:
for i in range(1, 11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [84]:
row = int(input("enter the rows: "))
for i in range (1,row+1):
    print(" * "*i)

enter the rows:  5

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [82]:
row = 5
for i in range(1, row + 1 ):
    print(" * " * i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *